.aboutMe{
	width: 100vw;
	margin-left: auto;
	padding: 20px 20px 10px 15px;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: auto;
	color: #9e9898;
	background-color: #fff;
	overflow: hidden; /* tylko na chwile do kontaktu dodać*/
	border-bottom: 2px solid rgba(9, 108, 245, 0.95);
	color: #9e9898;
	@include tablet{
		padding: 15px 20px 25px  15px;
		/* padding-top: 15px;
		padding-bottom: 25px; */
		min-height: auto;
		width: 100%;
		max-width: 1024px;
		transition: all 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
		
	}
	@include desktop{
		min-height: auto;
		width: 100%;
		max-width: 1024px;
		margin: 0 auto;
		transition: all 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	}

	aboutMe{
		font-family: lato;
		padding-top: 20px;
		margin-bottom:30px;
	}

	.title-about{
		position: relative;
		font-size: 3em;
		margin-bottom: 20px;
		margin-top: 10px;
		text-align: center;

		.rotI{
			font-size: 1.5em;
		}
		.rotE{
			font-size: 1.5em;
			transform:rotate(-25deg);
			display: inline-block;

		}


		@include tablet{
			z-index: 9;
			margin-bottom: 20px;
			margin-top: 20px;

		}

		.fa-comment-o{
			position: absolute;
			padding-left: 5px;
			top: -15px;
		}
	}


.accordion{
	
		
		.box-accordion{
			width: 100%;
			height: auto;
			margin-bottom: 30px;
			@include tablet{
				width: 65%;
				margin: 0 auto 30px auto;
			}
			
		}

		.transRot{
			transform: rotate(5deg);
			}

		.accordion_title{
				font-size: 1.6em;
				cursor: pointer;
				font-family: lato;
				color:#9e9898;
				border: solid grey;
				padding: 10px;
				position: relative;
				margin-top: 5px;
				border-radius: 8px;
				@include tablet{
					font-size: 2em;
				}
				.fa{
					padding-left: 5px;
				}
				
				

			 	.fa-arrow-down, .fa-arrow-up{
					position: absolute;
					right: 0px;
					top: 0px;
					padding: 13px;
    				display: none;
				}

				.active{
					display: block;
				}

				
		}

		.accordion_title_active{
					background-color: #fff;
				}




		.accordion_text{
			font-size: 1.7em;
			font-family: 'Lato', sans-serif;
			padding: 15px;
			border: 1px solid grey;
			border-top: none;
			margin-bottom: 10px;
			line-height: 1.4em;
		}


	}
	
}
